# Desafio 1

Para esse desafio, vamos trabalhar com o data set [Black Friday](https://www.kaggle.com/mehdidag/black-friday), que reúne dados sobre transações de compras em uma loja de varejo.

Vamos utilizá-lo para praticar a exploração de data sets utilizando pandas. Você pode fazer toda análise neste mesmo notebook, mas as resposta devem estar nos locais indicados.

> Obs.: Por favor, não modifique o nome das funções de resposta.

## _Set up_ da análise

In [276]:
import pandas as pd
import numpy as np

In [277]:
black_friday = pd.read_csv("black_friday.csv")

## Inicie sua análise a partir daqui

In [278]:
black_friday.head()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057
4,1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969

In [279]:
black_friday.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 537577 entries, 0 to 537576
Data columns (total 12 columns):
User_ID                       537577 non-null int64
Product_ID                    537577 non-null object
Gender                        537577 non-null object
Age                           537577 non-null object
Occupation                    537577 non-null int64
City_Category                 537577 non-null object
Stay_In_Current_City_Years    537577 non-null object
Marital_Status                537577 non-null int64
Product_Category_1            537577 non-null int64
Product_Category_2            370591 non-null float64
Product_Category_3            164278 non-null float64
Purchase                      537577 non-null int64
dtypes: float64(2), int64(5), object(5)
memory usage: 49.2+ MB

## Questão 1

Quantas observações e quantas colunas há no dataset? Responda no formato de uma tuple `(n_observacoes, n_colunas)`.

In [280]:
def q1():
    # Retorne aqui o resultado da questão 1.
    return black_friday.shape

In [281]:
q1()

(537577, 12)

## Questão 2

Há quantas mulheres com idade entre 26 e 35 anos no dataset? Responda como um único escalar.

In [282]:
def q2():
    # Retorne aqui o resultado da questão 2.
    return black_friday.loc[(black_friday['Age'] == '26-35')].loc[(black_friday['Gender'] == 'F')].shape[0]

In [283]:
q2()

49348

In [284]:
## Questão 3

#Quantos usuários únicos há no dataset? Responda como um único escalar.

In [285]:
def q3():
    # Retorne aqui o resultado da questão 3.
    return len(black_friday['User_ID'].unique())

In [286]:
q3()

5891

## Questão 4

Quantos tipos de dados diferentes existem no dataset? Responda como um único escalar.

In [287]:
def q4():
    # Retorne aqui o resultado da questão 4.
    # black_friday.info()
    return 3

In [288]:
q4()

3

## Questão 5

Qual porcentagem dos registros possui ao menos um valor null (`None`, `ǸaN` etc)? Responda como um único escalar entre 0 e 1.

In [289]:
def q5():
    # Retorne aqui o resultado da questão 5.
    column_null = black_friday.columns[black_friday.isna().any()]
    row_null = black_friday[black_friday.isna().any(axis=1)][column_null]

    porcent = row_null.shape[0] / black_friday.shape[0]

    return porcent

In [290]:
q5()

0.6944102891306734

## Questão 6

Quantos valores null existem na variável (coluna) com o maior número de null? Responda como um único escalar.

In [291]:
def q6():
    # Retorne aqui o resultado da questão 6.
    return int(black_friday.isna().sum().max())

In [292]:
q6()

373299

## Questão 7

Qual o valor mais frequente (sem contar nulls) em `Product_Category_3`? Responda como um único escalar.

In [293]:
def q7():
    # Retorne aqui o resultado da questão 7.
    return int(black_friday['Product_Category_3'].mode())

In [294]:
q7()

16

## Questão 8

Qual a nova média da variável (coluna) `Purchase` após sua normalização? Responda como um único escalar.

In [295]:
def q8():
    # Retorne aqui o resultado da questão 8.
    norm = (black_friday['Purchase'] - black_friday['Purchase'].min()) / (black_friday['Purchase'].max() -  black_friday['Purchase'].min())
    return float(norm.mean())

In [296]:
q8()

0.3847939036269795

## Questão 9

Quantas ocorrências entre -1 e 1 inclusive existem da variáel `Purchase` após sua padronização? Responda como um único escalar.

In [297]:
def q9():
    # Retorne aqui o resultado da questão 9.
    norm = (black_friday['Purchase'] - black_friday['Purchase'].mean()) / black_friday['Purchase'].std()

    return int(norm[(norm >= -1) & (norm <= 1)].count())

In [298]:
q9()

348631

## Questão 10

Podemos afirmar que se uma observação é null em `Product_Category_2` ela também o é em `Product_Category_3`? Responda com um bool (`True`, `False`).

In [301]:
def q10():
    # Retorne aqui o resultado da questão 10.
    return bool(black_friday['Product_Category_2'].isnull().isin(black_friday['Product_Category_3'].isnull()).all())

In [302]:
q10()

True